name: Terraform CI/CD

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select Terraform environment"
        required: true
        type: choice
        options:
          - dev
          - nprod
          - prod
      action:
        description: "Select Terraform action"
        required: true
        type: choice
        options:
          - plan
          - apply

  push:
    branches:
      - main
      - future/*

permissions:
  contents: read
  id-token: write

env:
  TF_VERSION: 1.6.6
  AWS_REGION: ap-south-1

jobs:
  plan:
    name: Terraform Plan
    runs-on: ubuntu-latest

    # Always run plan
    if: |
      github.event_name == 'push' ||
      github.event.inputs.action == 'plan' ||
      github.event.inputs.action == 'apply'

    env:
      TF_WORKING_DIR: ./${{ github.event.inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.OIDC }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform init

      - name: Terraform Plan
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform plan -out=tfplan

      - name: Upload tfplan
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: ${{ env.TF_WORKING_DIR }}/tfplan

  apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    needs: plan

    # Apply only when explicitly selected
    if: |
      github.ref == 'refs/heads/main' &&
      (
        github.event.inputs.action == 'apply' ||
        github.event_name == 'push'
      )

    env:
      TF_WORKING_DIR: ./${{ github.event.inputs.environment }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.OIDC }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Download tfplan
        uses: actions/download-artifact@v4
        with:
          name: tfplan
          path: ${{ env.TF_WORKING_DIR }}

      - name: Terraform Apply
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform apply -auto-approve tfplan
